.center {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.register {
    width: 500px;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    border-radius: 10px;
}

.form {
    
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10px;
}

.form_name {
    font-size: 25px;
    font-weight: bold;
}


@media  (width < 500px) {
    .register {
        width: 100%;
    }
}